<div class="row">
    <div class="landing head col-sm-12 col-lg-12">
        <p>
        Tunnel Wiki
        </p>
    </div>
    <div class="landing search col-sm-8 col-lg-6">
        <form class="form">
            <input type="text" class="form-control" placeholder="Search...">
        </form>
    </div>
</div>
