<%= form_for(@page) do |f|%>
    <div class="field form-group">
        <%= f.label :title %><br />
        <%= f.text_field :title , :class => "form-control"%>
    </div>

    <div class="field form-group">
        <%= f.label :content %><br />
        <%= f.text_area :content , :class => "form-control"%>
    </div>

    <div class="actions">
        <%= f.submit 'Submit', :class => "btn btn-primary" %>
    </div>
<% end %>


