<h1><%= @page.title %></h1>

<p>
<%= @page.content%>
</p>


<%= link_to "edit", edit_page_path(@page) %>
<%= link_to "back", pages_index_path %>

<div>
<table class="table table-bordered table-striped">
    <tr>
        <th>#</th>
        <th>Action</th>
        <th>Version</th>
        <th>Time</th>
        <th>User</th>
    </tr>
        <% @page.versions.each do |v| %>
            <tr>
                <td><%= v.index%> </td>
                <td><%= v.event %> </td>
                <td><%= v.reify %> </td>
                <td><%= v.created_at %></td>
                <td><%= v.whodunnit%></td>
            </tr>
        <% end %>
</table>
    
</div>
