// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap-sprockets";
@import "bootstrap";

@import url(http://fonts.googleapis.com/css?family=Roboto);

$bg-color: #03a9f4;

body {
    //background: #e5e5e5;
    background: $bg-color;
    color:white;
    //color:$bg-color;;
    font-family: 'Roboto', sans-serif;
}

.landing {
    @extend .center-block;
    float:none;
    &.head {
        padding-top:100px;
        @extend .text-center;
        font-size: 70px;
    }
    &.search {
        padding-top:20px;
    }
}

