$navbar-bg: #03a9f4;
$navbar-brand-color: white;
$navbar-brand-hover: #ffff8d;

.navbar {
    background-color: $navbar-bg;
    a {
        color: $navbar-brand-color; 
    }
    .navbar-toogle {
        color:white;
    }

}
.navbar-nav {

    li > a:hover {

        background-color: transparent;
    }
    .active {
            color: $navbar-brand-hover;
            box-shadow: 0 -2px 0 0 $navbar-brand-hover inset;
    }

    &:focus{
        color: $navbar-brand-color;
    }
}
.navbar-brand {
    color: $navbar-brand-color;

    &:hover {
        color: $navbar-brand-color;
    }
}
