<!DOCTYPE html>
<html>
    <head>
        <title>Tunnel Wiki</title>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
        <%= csrf_meta_tags %>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <nav class="navbar navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">

                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Tunnel Wiki</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav"> 
                    <li class=<%= 'active' if controller.action_name == 'index'%>>
                    <%= link_to "Home", root_url %> 
                    </li>

                    <li class=<%= 'active' if controller.action_name == 'about'%>>
                    <%= link_to "About", {:controller => :home, :action => :about} %>
                    </li>
                </ul>
                <form class="navbar-form navbar-right">
                    <input type="text" class="form-control" placeholder="Search...">
                </form>
            </div><!--/.nav-collapse -->
        </div>
        </nav>

        <div class="container">
            <%= yield %>
        </div>

        <hr />

        <div class="container">
            <footer>
            <p>&copy; copyright information (creative commons?)</p>
            </footer>
        </div>

    </body>
</html>
