<!DOCTYPE html>
<html>
    <head>
        <title>Tunnel Wiki</title>
        <%= stylesheet_link_tag    'home' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
        <%= csrf_meta_tags %>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>

        <div class="container">
            <%= yield %>
        </div>

        <%# <hr /> %>

        <%# <div class="container"> %>
        <%#     <footer> %>
        <%#     <p>&copy; copyright information (creative commons?)</p> %>
        <%#     </footer> %>
        <%# </div> %>

    </body>
</html>
